{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %} Service confirmation {% endblock %}
{% block page_content %}
<div class="container-fluid">
    <div class="jumbotron">
        <button type="button"
                class="btn btn-dark"
                aria-pressed="true"
                onClick="history.back();"
                style="width:12%;">
            <i class="bi bi-arrow-return-left"></i> Powrót
        </button>
        <h5 class="display-6 text-center">Service: {{ tsp_object.service_name }}</h5>
        <hr class="my-4">
    </div>
    <!--    <div class="container py-4 text-center">-->
    <!--        <h5 class="h3 mb-3 font-weight-normal">Do you confirm "{{ tsp_object.service_name }}" service? </h5>-->
    <!--        <form method="post" class="form-login">-->
    <!--            {% csrf_token %}-->
    <!--            <button type="submit" class="btn btn-lg btn-outline-dark btn-block mx-5">Confirm</button>-->
    <!--        </form>-->
    <!--    </div>-->
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem; height: 300px">
                    <div class="card-body text-center">
                        <div class="mb-md-5 mt-md-5">
                            <h3 class="fw-bold">Has the service been served?</h3>
                            <form action="" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-success btn-lg mt-3 px-5">Confirm</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
