{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %} Services to served {% endblock %}
{% block page_content %}
<div class="container-fluid">
    <div class="jumbotron">
        <p class="lead">Hello: {{user.username}}
            <a href="{% url 'logout' %}"
               class="btn btn-danger btn-lg active mx-4"
               role="button"
               aria-pressed="true"
               style="float: right;">Logout
                <i class="bi bi-box-arrow-left"></i></a>
        </p>
        <h5 class="display-6 text-center my-4">Services to served</h5>
        <div class="row text-center">
            <div class="col">
                <a href="{% url 'services_to_served' %}"
                   class="btn btn-dark"
                   role="button"
                   aria-pressed="true"
                   style="width:100%;">Services to served</a>
            </div>
            <div class="col">
                <a href="{% url 'services_served' %}"
                   class="btn btn-dark"
                   role="button"
                   aria-pressed="true"
                   style="width:100%;">Served services</a>
            </div>
            <div class="col">
                <a href="{% url 'services_all' %}"
                   class="btn btn-dark"
                   role="button"
                   aria-pressed="true"
                   style="width:100%;">All services</a>
            </div>
        </div>
        <hr class="my-4">
    </div>
    <form action="" method="get" class="row row-cols-sm-4 g-2 align-items-center" id="form1">
        {% bootstrap_form data_filter.form show_label=False %}
        <div class="row mx-0">
            <div class="col">
                <button type="submit" class="mx-0 btn btn-outline-dark" style="width:100%">Search</button>
            </div>
            <div class="col">
                {% if data_filter.is_bound %}
                <a href="{% url 'services_all' %}"
                   class="mx-0 btn btn-outline-dark"
                   role="button"
                   style="width:100%">Clear</a>
                {% endif %}
            </div>
        </div>
    </form>
    <div class="table-responsive-xl mt-3">
        <table class="table table-sm table-bordered table-light table-hover text-center" border="1">
            <thead class="table-secondary align-middle border-dark">
            <tr>
                <th scope="col">No.</th>
                <th scope="col">Trust service provider</th>
                <th scope="col">Service Name</th>
                <th scope="col">TSP Url</th>
                <th scope="col">CRL Url</th>
                <th scope="col">CRL Url status</th>
                <th scope="col">Service Status</th>
                <th scope="col">Service type</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody class="align-middle table-group-divider">
            {% for service in services_to_served %}
            <tr>
                <td scope="row">{{ forloop.counter }}
                    <a href="{% url 'service_details' service.id %}" data-toggle="tooltip" title="More information about service">
                        <i class="bi bi-info-square" style="color:black"></i></a>
                </td>
                <td>{{ service.tsp_name }}</td>
                <td>{{ service.service_name }}</td>
                <td>{{ service.tsp_url }}</td>
                <td>{{ service.crl_url }}</td>
                <td>{{ service.crl_url_status_app }}</td>
                <td>{{ service.service_status }}</td>
                <td>{{ service.service_type }}</td>
                <td>{{ service.service_status_app }}</td>
                <td>
                    <i class="bi bi-pencil-square"></i>
                    <i class="bi bi-check-square"></i>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
